.navbarLink {
  color: var(--chakra-colors-gray-200) !important;
  text-decoration: none !important;

  &:hover {
    text-decoration: none !important;
  }
}

@media screen and (min-width: 769px) {
  .navbarLink {
    color: var(--chakra-colors-blue-700) !important;
  }
}
